<!DOCTYPE html>
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Add artist</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>	
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">Vinyl Records</a>
			<div class="collapse navbar-collapse" id="navbarColor02">
				<ul class="navbar-nav me-auto">
					<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/artistlist">Artists</a></li>
					<li sec:authorize="hasAuthority('ADMIN')" class="nav-item"><a
						class="btn btn-outline-success" href="/add">Add new vinyl</a></li>
				</ul>
				<form th:action="@{/login}" method="post">
					<div sec:authorize="!hasAuthority('ADMIN')">
						<label> User Name : <input type="text" name="username" />
						</label> <label> Password: <input type="password" name="password" />
						</label> <input type="submit" class="btn btn-outline-dark" value="Sign In" />
					</div>
				</form>
				<form sec:authorize="hasAuthority('ADMIN')" th:action="@{/logout}"
					method="post">
					<input type="submit" class="btn btn-outline-dark" value="Sign Out" />
				</form>
			</div>
		</div>
	</nav>
<h2 align="center" class="text-muted">Add artist</h2>
<div class="form-group" align="center">    
<form th:object="${artist}" th:action="@{saveartist}" action="#" method="post">
	<label for="name">Artist name</label><br>
	<input type="text" id="name" th:field="*{artistName}" />
	<br><br>
			<input class="btn btn-success" type="submit" value="Save"></input>
			<input class="btn btn-dark" type="reset" value="Reset" />
	
</form>
</div>
</body>
</html>