<!DOCTYPE HTML>
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Artist list</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>	
<table class="table table-striped"> <tr>
   <th>Artists</th>
  </tr>
<tr th:each = "artist : ${artists}">
<td th:text="${artist.artistName}"></td>
</tr>
</table>
<a href="/addartist" class="btn btn-success">Add artist</a>
</body>
</html>