<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Edit vinyl</title>
</head>
<body>
	<h1>Edit vinyl</h1>
	<div>
		<form th:object="${vinyl}" th:action="@{../save}" action="#" method="post">
			<label for="id" ></label>
			<input type="hidden" id="vinylId" th:field="*{vinylId}" readonly="readonly" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="vinylName">Album name</label>
			<input type="text" id="vinylName" th:field="*{vinylName}" />
			<br>
			<label for="artist">Artist</label>
			<select id="artist" th:field="*{artist.artistId}" class="form-control">
			<option th:each="artist: ${artists}" th:value="${artist.artistId}" th:text="${artist.artistName}"></option>
			</select>
			<br>
			<label for="vinylYear">Year</label>
			<input type="text" id="vinylYear" th:field="*{vinylYear}" />
			<br>
			<label for="vinylGenre">Genre</label>
			<input type="text" id="vinylGenre" th:field="*{vinylGenre}" />
			<br>
			<label for="vinylFormat">Format</label>
			<input type="text" id="vinylFormat" th:field="*{vinylFormat}" />
			<br>
			<label for="vinylDetails">Details</label>
			<input type="text" id="vinylDetails" th:field="*{vinylDetails}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<input class="btn btn-success" type="submit" value="Save"></input>
		</form>
	</div>
</body>
</html>
</html>